.feed_main {
  display: flex;
  justify-content: center;
  margin-right: 11vw;
  gap: 3vw;
  overflow: hidden;
}

.scrollable_column {
  margin-top: 7vh;
  width: 40vw;
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  scroll-behavior: smooth;
}

.done {
  display: flex;
  text-align: left;
  justify-content: space-between;
  margin-top: 7vh;
}

.done_columns {
  display: flex;
  gap: 1vw;
  color: aqua;
}

.done_list {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-bottom: 7vh;
}
