.page {
  display: flex;
  align-items: flex-start;
  padding-top: 15vh;
  padding-left: 8vw;
  gap: 100px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 15vw;
}

.menu p {
  margin-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40vw;
}
