.ingredientDetails {
  text-align: center;
}

.nutrition {
  display: flex;
  justify-content: center;
  gap: 4vw;
  margin-top: 20px;
}

.nutrition div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.nutrition p {
  margin: 5px 0;
}
