.container_select_burger {

 margin-top: 3vh;
 margin-left: 8vw;
 max-width: 42%;
 
}

.scrollable {
  max-height: 70vh;
  overflow-y: auto; 
}
.burger_items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.tab_component{
  display: flex;
}