.appheader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #131316;
  border-radius: 24px;
  width: 80%;
  margin-left: 5%;
}

.links {
  display: flex;
  gap: 30px;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #f2f2f3;
  &:hover {
    color: rgb(110, 58, 155);
    cursor: pointer; // Курсор в виде руки
  }
}

.login {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #f2f2f3;
  margin-left: 10vw;
  &:hover {
    color: rgb(110, 58, 155);
    cursor: pointer; // Курсор в виде руки
  }
}

.logo {
  text-align: center;
}
